$v-app-loading-text: "LTC Rally";
$v-focus-color: #2b79d8;

$ssh-ok-color: #070;
$ssh-warn-color: #c80;
$ssh-error-color: #c00;

$master-color: #fafafa;
$detail-color: #f6f6f6;

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;
    .v-grid-column-header-content {
        line-height: 40px; /* Workaround for Vaadin Bug. Hopefully fixed soon. */
    }

	.v-grid-cell div.component-wrap { /* Workaround for Vaadin Bug. Hopefully fixed soon. */
		height: 100%;
	}

	.v-label.liveLap {
		font-size: 80px;
	}
}
